body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

@font-face {
    font-family: MysteryFood; 
    src: url(/Mystery-Food/FonteMysteryFood.otf);
}

    .fundo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

        .cabecalho {

            width: 100%;
            height: 80px;
            background-color: #1c1a9e;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

            .cabecalho_esq{
                padding: 5px;
                width: 30%;
                height: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                
            }

                .logo {
                    height: 80px;
                }

                .button_logo {
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    font-family: MysteryFood;
                    font-size: 30px;
                    color: #ffffff;
                    background-color: #1c1a9e;
                    text-decoration: none;
                    padding-top: 16px;
                }
                .button_logo:hover {
                    border-radius: 10px;
                    background-color: #1c1a9e;
                }
                .button_inicio {  
                    height: 5vh;
                    font-size: 20px;
                    border-radius: 5px;
                    background-color: #1c1a9e;
                    font-family: sans-serif;
                    border: none;
                    color: #ffffff;
                }

                    .button_inicio:hover {
                        cursor: pointer;
                        color: #ff0000;
                    }

                .button_caixastop {  
                    height: 5vh;
                    font-size: 20px;
                    border-radius: 5px;
                    background-color: #1c1a9e;
                    font-family: sans-serif;
                    border: none;
                    color: #ffffff;
                }

                    .button_caixastop:hover {
                        cursor: pointer;
                        color: #ff0000;
                    }

                
            .espacamento_cabecalho {
                width: 15%;
            }

            .cabecalho_dir {
                padding: 5px;
                width: 20%;
                height: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

            }


            .button_login {
                height: 5vh;
                font-size: 20px;
                border-radius: 5px;
                background-color: #1c1a9e;
                font-family: sans-serif;
                border: none;
                color: #ffffff;
            }  

                .button_login:hover {
                    cursor: pointer;
                    color: #ff0000;
                }

            .button_sing_in {
                width: 130px;
                height: 5vh;
                font-size: 20px;
                border-radius: 5px;
                background-color: #1c1a9e;
                font-family: sans-serif;
                border: none;
                border-radius: 30px;
                color:#ffffff;
                text-decoration: underline;
                font-weight: bold;
            }

                .button_sing_in:hover {
                    cursor: pointer;
                    color: #ff0000;
                }


        .espacamento {
            background-color: #ffffff;
            width: 100%;
            height: 60px;
        }

        .info {
            width: 100%;
            height: 100vh;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #000000;
            background-image: url("fundo_total.svg");
            background-size: 105vh;
        }    
            .lema {
                text-align: center;
                font-size: 1.5em;
                font-family: sans-serif;
            }

            .espacamento3 {
                width: 100%;
                height: 7vh;
            }

            .compra {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
            .info_info {
                width: 20%;
                height: 40%;
                top: 50vh;
                background-color: #1f2449;
                position: absolute;
                border-radius: 10px;
                background-image:url(CAIXASDOSUL.svg);
                background-size: cover;
            }
            .info_info:hover
             {
                box-shadow: 0.5px 0.5px 10px black;

            }

                .logo_caixas {
                    height: 20vh;
                }
                
                .button_caixa {
                    width: 20vh;
                    height: 5vh;
                    border-radius: 5px;
                    border: none;
                    background-color: #b08973;
                    font-size: 25px;
                    font-family: sans-serif;
                    font-weight: bolder;
                    color: #fedb8c;
                    text-decoration: underline;
                    
                    
                }
                    .button_caixa:hover {
                        cursor: pointer;
                        color: #ff0000;
                    }
                    .link_caixas
                    {
                        height: 50%;
                        width: 20%;
                        display: flex;                    
                        justify-content: center;
                    }
                    
        