body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: Relative;
    background-color: rgb(255, 255, 255); 
       

}
@font-face {
    font-family: MysteryFood; 
    src: url(/Mystery-Food/FonteMysteryFood.otf);
}
.D1
{
    width: 100%;
    height: 100vh;
    position: relative;
}

.circulo
{
    width: 1200px;
height: 1200px;
background-color: #1c1a9e;
border-radius: 1000px;
position: relative;
top: -390px;
left: -190px;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;
flex-direction: column;
color: rgb(255, 255, 255);
font-size: 70px;
font-family: MysteryFood;
background-image: url(fundo_total.svg);
}

.Entrar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: #2e2cc2;
    left: 925px;
    top: 110px;
    position: absolute;
    border-width: 5px;
    box-shadow: 3px 3px 10px black;
    border-radius: 30px;
    font-size: 20px;
    font-family: sans-serif;
    background-image: url(fundo_total.svg);
    background-size: 200vh;
}
.caixa_larga
{
    
    width: 70%;
    height: 5vh;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    
}
form
{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
legend
{
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #ffff;
    
    
}

.logo
{
    position: relative;
    top: 80px;
    left: 87px;
}
.enlete /* Entrar e Delete */
{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 72%;
}

.butao
{
    width: 45%;
height: 30px;
border-color: black;
border-width: 2px;
border-style: solid;
border-radius: 10px;

}
.butao:hover
{
    background-color: black;
    color: white;
    cursor:pointer
}
.texto
{
    position: relative;
    top:75px;
    left: 45px;
}

.mostrar_senha {
    width: 71.5%;
    height: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #ffff;
    font-family: sans-serif;
}
